*{
    font-family: 'Trebuchet MS';
    font-size: 16px;
    color: var(--black);
} 
:root{
    --black: #333;
    --white: #e4f5ec;
    --darkGreen: #3c5835;
    --lightGreen: #92b6a4;
    --darkPurple: #431457;
    --lightPurple: #76637e;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, var(--white), var(--darkGreen) );
    background-attachment: fixed;     
}

.link {
    color: var(--lightPurple);
    text-decoration: underline;
    font-weight:bold;
}               

.container {
    padding: 1rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    /* max-width: 800px;
    min-height: 85vh; */
    /* margin: 1rem auto; */
    /* grid-template-columns: 1fr 2fr; */
}
.header {
    text-align: center;
}
.headers{
    font-family: monospace;
    text-align: center;
}
.title {
    margin: 10px 0;
    color: var(--darkPurple);
    font-size: 32px;
}
.subtitle {
    color: var(--darkPurple);
    font-size: 26px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--lightPurple);
    padding-bottom: 5px;
}
.heading {
    margin: 0;
    font-size: 18px;
    color: var(--lightPurple);
    font-size: 18px;
}
.section{
    background: var(--white);
    border: solid var(--lightGreen);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);    
    padding: 20px;
    max-width: 900px;
    display: grid;
    justify-content: center;
}

.about-me {
    display: grid;
    justify-content: center;
    max-width: 600px;
}

.headshot{
    width: 80%;
    height: auto;
    border-radius: 8px;
    max-height: 300px;
    max-width: 300px;
}


.buttons{
    display: flex;
    justify-content: center;
}

.button{
    border-radius: 4px;
    border: none;
    background-color: var(--darkGreen);
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    margin: 5px;
    box-shadow: -4px 4px var(--lightGreen);
}
.button a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;  
}
.button p{
    color: var(--white);
    font-style: italic;
}
.button h3{
    color: var(--white);
}
.button:hover {
    background-color: #4c705f;
}
.button:active{
    background-color: #4c705f;
    box-shadow: -1px 1px var(--darkGreen);
    transform: translateY(2px);
}

/* edit these */
.codeYou ul li { 
    display: inline-block;
    border: 1px solid var(--lightPurple);
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
}

/* change to grid; make link legible */
.footer{
    text-align: center;
    font-style: italic;
    border-top: 2px solid var(--lightPurple);
    margin-top: 50px;
    background-color: var(--darkGreen);
}
footer ul li{
    display:inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}
.footer p{
    color: var(--lightGreen);
}
.footer .link {
    color: var(--lightGreen);
}


.main-color{
    background-color: var(--darkGreen);
}
.second-color{
    background-color: var(--darkPurple);
}
.third-color{
    background-color: var(--lightGreen) ;
}
.fourth-color{
    background-color: var(--lightPurple);
}
.light-color{
    background-color: var(--white);
    border: 1px solid var(--black);
}
.text-color{
    background-color: var(--black);    
} 



/* independent projects buttons
Change these to grid?*/
.projects{
    display: grid;
}
.button2{
    background-color: var(--darkPurple);
    box-shadow: -4px 4px #bcb3c0;
}
.button2:hover {
    background-color: var(--lightPurple);
}
.button2:active{
    background-color: var(--lightPurple);
    box-shadow: -1px 1px var(--darkPurple);
}

@media screen and (min-width: 768px){
    .about-me {
        grid-template-columns: 1fr 1fr;        
    }
    .bio {
        max-width: 900px;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "summary summary"
            "work work"
            "skills education"
            "skills projects";
    }
    .summary {
    grid-area: summary;
    }
    .work-experience {
        grid-area: work;
    }
    .education {
        grid-area: education;
    }
    .skills {
        grid-area: skills;
    }
    .projects {
        grid-area: projects;
    }
}